.homePageContainer {
  position: relative;
  height: 100vh;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  h1 {
    text-align: center;
    font-size: 62px;
    font-weight: 900;
    font-family: var(--font-playfair-display);
  }

  div {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  h1 span {
    position: relative;
    color: white;
    font-weight: 500;
  }

  h1 span:nth-child(2) {
    color: #0f3bec;
    font-weight: 900;
  }

  p {
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p span {
    white-space: nowrap;
    font-weight: 700;
    display: inline-block;
    text-align: left;
    position: relative;
    padding: 10px;
    animation: 3s openclose linear infinite;
    animation-delay: 1.9s;
  }

  @keyframes openclose {
    0% {
      width: 100%;
      overflow: hidden;
    }
    50% {
      width: 0;
      overflow: hidden;
    }
    100% {
      width: 100%;
      overflow: hidden;
    }
  }

  p span b {
    line-height: 20px;
    border-bottom: 2px solid #0f3bec;
    padding-left: 5px;
  }

  p span::after {
    content: "";
    height: 100px;
    top: 0;
    right: 0;
    margin-left: 50px;
    width: 3px;
    position: absolute;
    background-color: grey;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 50px;
    }

    p {
      font-size: 22px;
    }
  }
}
