.describeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3rem;
    color: #ffffff;
    height: 50vh;

    h2 {
        font-family: 'Playfair Display', serif;
        font-size: 22px;
        font-weight: 700;
    }            

    .leftContainer {
        
        width: 60%;

        p {
            margin-top: 2rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 2rem;
        }
    }

    .rightContainer {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 40%;
        height: 100%;

        ul {
            margin-top: 2rem;
            height: 100%;

            .blockInfo {
                display: flex;
                flex-direction: column;
                justify-content: space-between;    
                height: 80%;
            }
        }
    }
}

@media screen and (max-width: 700px) {

    .describeContainer {
        height: 150vh;
        display: flex;
        flex-direction: column;

        .leftContainer {
            width: 100%;
        }

        .rightContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            position: relative;
            top: 3rem;


            ul {
                margin-top: 0.5rem;
                width: 100%;

                .blockInfo {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;   
                    height: 40%; 
                    width: 100%;
                }
            }
            

        }
    }

}

  


