.imgContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .blockTitle {

        filter: blur(0);
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .firstName, .lastName {
            font-family: 'Playfair Display', serif;
            text-align: center;
            font-size: 62px;
            font-weight: 900;

        }

        .firstName {
            color: white;
        }

        .lastName {
            color: #00a3e1;
        }
            p {
                display: inline-block;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                font-size: 28px;
                font-weight: 300;
                font-style: normal;
                color: whitesmoke;               
                //width: 100%;
            
                .textAnim {
                    display: inline-block;
                    white-space: nowrap;
                    font-weight: bold;
                    height: auto;
                    position: relative;
                    top: 2px;
                    font-weight: 700;

                }
                
                .textFront{
                    border-right: 3px solid grey;
                    font-weight: 700;
                    text-decoration: underline;
                    display: none;
                    overflow: hidden;
                }

                .textBack {
                    border-right: 3px solid grey;
                    font-weight: 700;
                    text-decoration: underline;
                    display: none;
                    overflow: hidden;
                }


                @keyframes moveBorder {
                    from {
                        width: 0;
                        text-decoration: #00a3e1 underline;
                    }

                    to {
                        width: 125px;
                        text-decoration: #00a3e1 underline;
                    }
            
                }

            }
        }
    }

.imgContainer::before {
    content: "";
    position: absolute;
    background-image: url('../Images/jura.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

@media screen and (max-width: 700px) {


    .imgContainer {
        display: flex;
        align-items: flex-start;

        h1 {
            display: flex;
            flex-direction: column;
            margin-top: 400px;
        }

        p {
            display: flex;
            flex-direction: column;

            
            .title {
                font-size: 28px;
            }

            span {
                display: flex;
                justify-content: center;
                font-size: 22px;
            }

        }        
    }




}

