.mainBlock {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


    .blockUp {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 200px;

        ul {
            display: flex;
            border: 1px dashed grey;
            border-radius: 30px;
            height: 50px;

            li {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: #ffffff;                
                list-style: none;
                cursor: pointer;
                padding: 1rem;

            }

            .active, li:active {
                background-color: rgb(82, 189, 231);
                border-radius: 30px;
            }
        }

    }

    .blockDown {

        display: flex;
        justify-content: space-between;

    }
}



